#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.band-image{
    max-width: 800px;
}

button {
    font-size: 2.5em;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button.heart-filled {
    color: red;
}